<section>
	<h1>Transfer money</h1>
	@using (Html.BeginForm("Transfer2", "Csrf", FormMethod.Post))
	{
		@Html.AntiForgeryToken()
		<label for="recipient">Recipient</label><br />
		<input type="text" id="recipient" name="recipient" /><br />
		<label for="amount">Amount</label><br />
		<input type="text" id="amount" name="amount" value="100" /><br />
		<input type="submit" value="Transfer money" />
	}
</section>
